.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 14px auto;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__logo {
        background: url(../design/logo.svg) center no-repeat;
        width: 150px;
        height: 30px;
        padding-right: 50px;
    }

    &__link {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &--item {
            color: $lightblue;
            padding: 10px 20px;
        }
    }
}

.buttons {
    display: flex;
    flex-direction: row;

    &__link {
        color: $lightblue;
        @extend %border;
        margin: 6px 3px;
        padding: 5px 25px;

        &:hover {
            @extend %hover;
        }
    }
}
@media screen and (min-width: 700px) {
    .buttons__link {
        padding: 11px 42px;
    }
}